In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Barbara Youngkeit\Desktop\SQL\CSV\wine.csv")

In [6]:
df.head(1)

,country,description,designation,points,price,province,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   taster_name            103727 non-null  object
 7   taster_twitter_handle  98758 non-null   object
 8   title                  129971 non-null  object
 9   variety                129970 non-null  object
 10  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.9+ MB

In [10]:
df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [12]:
df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'taster_name', 'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [ ]:
# Question 1) Which country produces wine with the most points, on average?

In [18]:
df.groupby('country')['points'].mean().sort_values(ascending=False).head(1)

country
England    91.581081
Name: points, dtype: float64

In [ ]:
# Question 2) Which taster gives the lowest scores (points), on average?

In [20]:
df.groupby('taster_name')['points'].mean().sort_values().head(1)

taster_name
Alexander Peartree    85.855422
Name: points, dtype: float64

In [ ]:
# Question 3) Which variety of wine is the most expensive, on average?

In [22]:
df.groupby('variety')['price'].mean().sort_values(ascending=False).head(1)

variety
Ramisco    495.0
Name: price, dtype: float64

In [ ]:
# Question 4) Which year of wines has the best score (points), on average?

In [24]:
df['year'] = df['title'].str.extract(r'(\d{4})')
df['year'] = pd.to_numeric(df['year'], errors='coerce')
avg_points_by_year = df.groupby('year')['points'].mean()
best_year = avg_points_by_year.sort_values(ascending=False).head(1)
print(best_year)

year
1969.0    98.0
Name: points, dtype: float64

In [ ]:
# Question 5) Do reviews with the word "depth" in them tend to get better than average or worse than average points?

In [25]:
df['depth'] = df['description'].str.contains(r'\bdepth\b', case=False, na=False)
avg_points_by_depth = df.groupby('depth')['points'].mean()
print(avg_points_by_depth)

depth
False    88.414493
True     90.094220
Name: points, dtype: float64

In [ ]:
# Question 6) Do reviews with the word "fruity" in them tend to get better than average or worse than average points?

In [26]:
df['fruity'] = df['description'].str.contains(r'\bfruity\b', case=False, na=False)
avg_points_by_fruity = df.groupby('fruity')['points'].mean()
print(avg_points_by_fruity)

fruity
False    88.513237
True     87.599596
Name: points, dtype: float64

In [ ]:
# Question 7) Do reviews with the word "herbal" in them tend to get better than average or worse than average points?

In [27]:
df['herbal'] = df['description'].str.contains(r'\bherbal\b', case=False, na=False)
avg_points_by_herbal = df.groupby('herbal')['points'].mean()
print(avg_points_by_herbal)

herbal
False    88.493171
True     87.421354
Name: points, dtype: float64

In [ ]:
# Question 8) What is the relationship between number of characters and points?

In [28]:
df['review_length'] = df['description'].str.len()
correlation = df['review_length'].corr(df['points'])
print(correlation)

0.5577602558815872

In [ ]:
# Question 9) Which region in the province of Sicily & Sardinia produces the best wine, on average?

In [29]:
df['region'] = df['title'].str.extract(r'(Faro|Alghero|Moscato di Noto|Marsala)', expand=False)
df_sicily_sardinia = df[df['province'] == 'Sicily & Sardinia']
avg_points_by_region = df_sicily_sardinia.groupby('region')['points'].mean()
best_region = avg_points_by_region.sort_values(ascending=False).head(1)
print(best_region)

region
Alghero    91.5
Name: points, dtype: float64

In [34]:
pwd

'C:\\Users\\Barbara Youngkeit\\AppData\\Local\\Programs\\Python\\Python313\\Scripts'